services:
  - type: web
    name: shortlink
    runtime: ruby
    buildCommand: bundle install && ./bin/rails assets:precompile
    startCommand: ./bin/rails db:prepare && ./bin/rails server -b 0.0.0.0 -p $PORT
    envVars:
      - key: RAILS_ENV
        value: production
      - key: RAILS_LOG_TO_STDOUT
        value: true
      - key: RAILS_SERVE_STATIC_FILES
        value: true
      - key: SECRET_KEY_BASE
        generateValue: true
      - key: RAILS_MASTER_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: shortlink-db
          property: connectionString

databases:
  - name: shortlink-db
    databaseName: shortlink
    user: shortlink
